$d: 4px;
$s: 200px;

.bonus-particle-container {
  position: absolute;
  display: block;
  pointer-events: none;
}

.bonus-particle {
  position: absolute;
  pointer-events: none;
  width: $d;
  height: $d;
  animation: shoot 1s ease-out;
  animation-name: shoot, fade;

  @for $i from 0 to 50 {
    $t: (1 + 0.01 * random(100)) * 1s;

    $snowflakeNum: random(12);

    $sizeAdd: 4px + random(11) * 1px; // random(11) → 0..10 → итого 10..20px
    $finalSize: $d + $sizeAdd;
    $rotateDeg: random(360);

    &:nth-child(#{$i + 1}) {
      width: $finalSize;
      height: $finalSize;
      transform: translate(random($s) * 1px - $s/2, random($s) * 1px - $s/2)
        rotate(#{$rotateDeg}deg);
      background-image: url("../images/snow#{$snowflakeNum}.svg");
      background-size: contain;
      animation-duration: $t;
      animation-delay: 0.001 * random(100) * $t;
      animation-fill-mode: both;
    }
  }
}

@keyframes shoot {
  0% {
    transform: translate(0, 0);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
