.scoresPage,
.finishPage,
.failPage,
.prizePage,
.mainPage,
.gamePage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  gap: 10px;
  padding-top: 100px;
}

.gamePage {
  padding-top: 150px;
}
.mobile .gamePage {
  padding-top: 170px;
}

.mobile .mainPage {
  padding-top: 80px;
}

.mobile .finishPage {
  padding-top: 40px;
}

.pageBg-head,
.pageOverlay,
.pageBg,
.screen-snow {
  position: absolute;
  background-position: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* transition: opacity 1s ease-out, visibility 1s ease-out; */
}

.pageBg {
  background-color: #8ec046;
  background-image: url(../images/game1/bingo-bg.svg);
  background-size: cover;
}

.mobile .pageBg {
  background-color: #8ec046;
}

.head {
  position: absolute;
  width: 100%;
  color: #f7f4f4;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.head.start {
  top: 30px;
  height: 68px;
  background-image: url(../images/bingo-title-bg.svg);
}

.mobile .head.start {
  top: 20px;
  height: 45px;
  background-image: url(../images/bingo-title-bg-mobile.svg);
}

.head h1 {
  width: 100%;
  height: 100%;
  line-height: 64px;
}

.mobile .head h1 {
  width: 100%;
  height: 100%;
  line-height: 46px;
}

.plate {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  gap: 30px;
  padding: 80px;
  padding-top: 270px;
  padding-bottom: 0px;
  width: 672px;
  height: 510px;
  flex: none;
}

.mobile .plate {
  gap: 20px;
  padding: 40px;
  padding-top: 180px;
  padding-bottom: 0px;
  width: 322px;
  height: 399px;
}

.g1 .plate {
  background-image: url(../images/game1/bingo-plate.svg);
}

.mobile .g1 .plate {
  background-image: url(../images/game1/bingo-plate-mob.svg);
}

.gamePage.g1 .plate {
  padding-top: 0px;
  width: 617px;
  height: 504px;
  background-image: url(../images/game1/bingo-plate-game.svg);
}

.mobile .gamePage.g1 .plate {
  width: 291px;
  height: 353px;
  background-image: url(../images/game1/bingo-plate-game-mob.svg);
}

.finishPage.g1 .plate {
  padding-top: 50px;
  width: 547px;
  height: 398px;
  background-image: url(../images/game1/bingo-finish-plate.svg);
  margin-bottom: -10px;
  gap: 0px;
  align-items: center;
}

.mobile .finishPage.g1 .plate {
  width: 302px;
  height: 258px;
  background-image: url(../images/game1/bingo-finish-plate-mob.svg);
}

.plate-items {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.g1 .plate-items {
  background-image: url(../images/game1/bingo-plate-items.svg);
}

.mobile .g1 .plate-items {
  background-image: url(../images/game1/bingo-plate-items-mob.svg);
}

.gamePage.g1 .plate-items {
  width: 617px;
  height: 504px;
  background-image: url(../images/game1/bingo-plate-items-game.svg);
}

.mobile .gamePage.g1 .plate-items {
  width: 291px;
  height: 353px;
  background-image: url(../images/game1/bingo-plate-items-game-mob.svg);
}

h2.plateTitle {
  position: absolute;
  top: -20px;
  width: 395px;
}

.mobile h2.plateTitle {
  top: -65px;
  width: 240px;
}

.logo {
  position: absolute;
  top: 10px;
  width: 370px;
  height: 226px;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
}

.mobile .logo {
  position: absolute;
  top: 0px;
  width: 220px;
  height: 150px;
}

.g1 .logo {
  background-image: url(../images/game1/bingo-img.png);
}
.mobile .g1 .logo {
  background-image: url(../images/game1/bingo-img-mob.png);
}

.logo-pulsing {
  animation: logo-pulsing 5000ms ease-out infinite;
}
@keyframes logo-pulsing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.white {
  color: #fff;
}

.black {
  color: #222221;
}

.orange {
  color: #f79c8a;
}

.yellow {
  color: #ffdb7e;
}

.pink {
  color: #ea49ff;
}

.pageTitle {
  position: absolute;
  top: 0px;
  left: 105px;
  width: 663px;
  height: 153px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 20px;
  transition: opacity 1000ms;
}

.mobile .pageTitle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  gap: 0px;
}

.redStripe {
  position: absolute;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  top: 90px;
  left: 0px;
  width: 100%;
  height: 135px;
  background-image: url(../images/game1/bingo-red-stripe.svg);
  z-index: -1;
}

.finishPage .plate p {
  padding-left: 50px;
  padding-right: 50px;
}
