.gameScene {
  position: absolute;
  display: block;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;

  -webkit-touch-callout: none !important;
  touch-action: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  caret-color: transparent;
}

.slotMachineContainer {
  position: absolute;
  top: 75px;
  width: 431px;
  height: 478px;
}

.mobile .slotMachineContainer {
  top: -30px;
  transform: scale(0.65);
}

.slotMachine {
  position: absolute;
  width: 431px;
  height: 478px;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(../images/bingo-slot-machine.png);
}

.slotMachineLeverBase {
  position: absolute;
  width: 18px;
  height: 48px;
  top: 210px;
  left: 393px;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(../images/bingo-slot-lever-base.png);
}

.slotMachineHandle {
  position: absolute;
  width: 36px;
  height: 34px;
  top: 75px;
  left: 400px;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(../images/bingo-slot-handle.png);
}

.slotMachineLeverContainer {
  position: absolute;
  width: 26px;
  height: 200px;
  top: 95px;
  left: 392px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  overflow: hidden;
}

.slotMachineLever {
  position: absolute;
  width: 14px;
  height: 147px;
  top: -5px;
  left: -15px;
  transform-origin: 7px 147px;
  transform: rotate(13deg);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(../images/bingo-slot-lever.png);
}

.leverRotate {
  animation: leverRotate 1000ms 2 ease-in-out alternate;
  animation-delay: 2s;
}
@keyframes leverRotate {
  0% {
    transform: rotate(13deg);
  }
  100% {
    transform: rotate(147deg) scale(1.3);
  }
}

.handleMotion {
  animation: handleMotion 1000ms 2 alternate cubic-bezier(0.15, 0.15, 0.32, 0.8);
  animation-delay: 2s;
}
@keyframes handleMotion {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(200px) translateX(5px) scale(1.5);
  }
}

.slotMachineOverlay {
  position: absolute;
  left: 98px;
  top: 84px;
  width: 232px;
  height: 183px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/bingo-slot-overlay.svg);
}

.slotMachineSlotsContainer {
  position: absolute;
  left: 98px;
  top: 84px;
  width: 232px;
  height: 183px;
  overflow: hidden;
}

.slotMachineSlots {
  position: absolute;
  width: 76px;
  height: calc(532px * 6);
  top: calc(-532px * 6 + 183px + 20px);
  background-size: contain;
  background-position: center top;
  background-repeat: repeat-y;
}

.slots1 {
  background-image: url(../images/bingo-slots.png);
}
.slots2 {
  background-image: url(../images/bingo-slots2.png);
}
.slots3 {
  background-image: url(../images/bingo-slots3.png);
}

.slotsWaitingMotion {
  animation: slotsMotion 1s linear infinite;
  animation-delay: 2500ms;
}

.slotsMotion {
  animation: slotsMotion 3250ms ease-out;
}
@keyframes slotsMotion {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(532px * 5));
  }
}

.slotMachineWinSlot {
  position: absolute;
  width: 534px;
  height: 284px;
  top: 30px;
  left: -55px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.winSlotAnimation {
  animation: winSlotAnimation 500ms ease-out;
  animation-fill-mode: backwards;
  will-change: contents;
}
@keyframes winSlotAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.winSlots0 {
  background-image: url(../images/bingo-slot1.png);
}

.winSlots1 {
  background-image: url(../images/bingo-slot2.png);
}

.winSlots2 {
  background-image: url(../images/bingo-slot3.png);
}

.winSlots3 {
  background-image: url(../images/bingo-slot4.png);
}

.winSlots4 {
  background-image: url(../images/bingo-slot5.png);
}

.winSlots5 {
  background-image: url(../images/bingo-slot6.png);
}

.winSlots6 {
  background-image: url(../images/bingo-slot7.png);
}

.winTitle {
  position: absolute;
  top: 0px;
  left: 105px;
  width: 663px;
  height: 153px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 20px;
  transition: opacity 1000ms;
}

.mobile .winTitle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  gap: 0px;
}

.winTitleItem {
  width: 106px;
  height: 101px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.winTitleItem.left {
  background-image: url(../images/bingo-win-item-left.svg);
}
.winTitleItem.right {
  background-image: url(../images/bingo-win-item-right.svg);
}

.mobile .winTitleItem {
  width: 48px;
  height: 45px;
}

.winTitleOverlay {
  position: absolute;
  left: 245px;
  top: 25px;
  width: 400px;
  height: 80px;
  background: #8ec046;
  transition: opacity 500ms;
}

.mobile .winTitleOverlay {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 80px;
}

.slotMachineLights {
  position: absolute;
  top: 60px;
  left: 67px;
  width: 295px;
  height: 233px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  mix-blend-mode: plus-lighter;
}

.slotMachineLights.odd {
  background-image: url(../images/bingo-lights-phase1.svg);
}
.slotMachineLights.even {
  background-image: url(../images/bingo-lights-phase2.svg);
}
