$d: 15px;
$s: 10px;
$l: 450;
$dur: 1200ms;

.g1-gifting-container {
  position: absolute;
  display: block;
  left: 50%;
  top: 30%;
  // z-index: -1;
}

.mobile .gamePage .g1-gifting-container {
  transform: scale(0.8) rotate(90deg);
}

.mobile .finishPage .g1-gifting-container {
  transform: scale(0.6);
}

.g1-gift {
  position: absolute;
  width: $d;
  height: $d;
  animation: gift-shoot 5s linear infinite;
  animation-name: gift-shoot, gift-fade, gift-flip;
  border-radius: $d;

  @for $i from 0 to 30 {
    $t: (1 + 0.1 * random(10)) * $dur;

    $giftNum: random(12);

    $sizeAdd: random(10) * 1px;
    $finalSize: $d + $sizeAdd;

    // $rotateDeg: $i * (360/30);
    $rotateDeg: 0;
    $step: 90 /
      15; // шаг угла внутри половины (например, разброс в 30 градусов на 15 элементов)

    @if $i < 15 {
      // Первая половина: от -60 до -30 градусов
      $rotateDeg: -125 + ($i * $step);
    } @else {
      // Вторая половина: от 30 до 60 градусов
      // ($i - 15) сбрасывает счетчик для второй группы в 0..14
      $rotateDeg: 45 + (($i - 15) * $step);
    }

    &:nth-child(#{$i + 1}) {
      width: $finalSize;
      height: $finalSize;
      --w: #{$finalSize};
      border-radius: $finalSize;
      transform: rotate(#{$rotateDeg}deg) translateY(($l + random($s)) * 1px);

      background-image: url("../images/gift-particles/particle#{$giftNum}.svg");
      // background-size: contain;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center center;
      animation-duration: $t;
      animation-delay: 0.01 * random(100) * $t;
      animation-fill-mode: both;
    }
  }
}

@keyframes gift-shoot {
  0% {
    transform: translate(0, 0);
  }
}
@keyframes gift-fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes gift-flip {
  // Циклы: 0-10, 10-20, 20-30, 30-40, 40-50, 50-60, 60-70, 70-80, 80-90, 90-100
  0%,
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    background-size: 100% 100%;
  }
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    background-size: 100% 1%;
  }
}
