$d: 30px;
$s: 700px;

.g4-sparking-container {
  position: absolute;
  display: block;
}

.g4-sparking {
  position: absolute;
  width: $d;
  height: $d;
  animation: spark-shoot 10s ease-out infinite;
  animation-name: spark-shoot, spark-fade;
  border-radius: $d;

  @for $i from 0 to 50 {
    $t: (1 + 0.01 * random(100)) * 1000ms;

    $sizeAdd: random(5) * 5px;
    $finalSize: $d + $sizeAdd;

    &:nth-child(#{$i + 1}) {
      width: $finalSize;
      height: $finalSize;
      border-radius: $finalSize;
      transform: translate(random($s) * 1px - $s/2, random($s) * 1px - $s/2);
      // background: hsl(random(360), 100%, 100%);
      background-image: url("../images/game4/spark.png");
      background-size: contain;
      animation-duration: $t;
      animation-delay: 0.01 * random(100) * $t;
      animation-fill-mode: both;
    }
  }
}

@keyframes spark-shoot {
  0% {
    transform: translate(0, 0);
  }
}
@keyframes spark-fade {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
