.game h1 {
  font-family: "BlocWebExtraCondensed";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.game .mobile h1 {
  font-size: 24px;
  line-height: 24px;
}

.pageTitle h1,
.winTitle h1 {
  font-size: 72px;
  line-height: 72px;
}

.mobile .pageTitle h1,
.mobile .winTitle h1 {
  font-size: 36px;
  line-height: 36px;
}

.game h2 {
  font-family: "BlocWebExtraCondensed";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #5d279e;
}

.game .mobile h2 {
  font-size: 18px;
  line-height: 22px;
}

.game .scores-info-plate h2 {
  font-size: 30px;
  line-height: 28px;
  font-weight: 500;
}

.game h3 {
  font-family: "BlocWebExtraCondensed";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.game .mobile h3 {
  font-size: 20px;
  line-height: 28px;
}

.game .scores-info-plate h3 {
  font-size: 20px;
}

.game p {
  font-family: "BlocWebExtraCondensed";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.game .mobile p {
  font-size: 18px;
  line-height: 22px;
}

.game p.small {
  font-size: 14px;
  line-height: 18px;
}

.game .mobile p.small {
  font-size: 16px;
  line-height: 20px;
}

.game .primary-button,
.game .secondary-button {
  font-family: "BlocWebExtraCondensed";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.game .mobile .primary-button,
.game .mobile .secondary-button {
  font-size: 18px;
  line-height: 18px;
}

.game .large {
  font-size: 24px;
  line-height: 24px;
}

.game .mobile .large {
  font-size: 18px;
  line-height: 18px;
}

.game .bold {
  font-weight: 800 !important;
}

.game .caps {
  text-transform: uppercase;
}

.game li {
  list-style: none;
  text-transform: uppercase;
  font-family: "BlocWebExtraCondensed";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.finishPage .plate h1 {
  color: #ffce00;
  font-size: 210px;
  line-height: 210px;
}

.finishPage .plate p {
  font-size: 28px;
  line-height: 28px;
}
